<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Scherz, Paul</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>2F49BE5E5D5AF9366D6C679FDA7A09E4</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>827CF8B171B84FA39F8185F0CFE1CD6F</string>
		<key>publisher-unique-id</key>
		<string>4ab98457-d1c1-47a5-a086-0d4e9c44bab4</string>
		<key>unique-id</key>
		<integer>8460287773057561800</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>genre</key>
	<string>-</string>
	<key>itemName</key>
	<string>Practical Electronics for Inventors</string>
	<key>playlistName</key>
	<string>Practical Electronics for Inventors</string>
	<key>releaseDate</key>
	<string>2013-01-30T22:00:00+00:00</string>
	<key>sort-artist</key>
	<string>Scherz, Paul</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
